# Игнорируем всё лишнее
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
.vs/
*.csproj
*.sln

# НО при этом явно разрешаем отслеживать файлы кода
# (Git будет видеть все .cs файлы в папке Assets)
!/[Aa]ssets/**/*.cs
!/[Aa]ssets/**/*.cs.meta